* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: local("Gilroy-Bold"),
     url(/homework_3/font2/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: local("Gilroy-Medium"),
    url(/homework_3/font2/Gilroy-Medium.woff2) format("woff2");
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'), 
    url(/homework_3/font2/Gilroy-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: local("Gilroy-Semibold"),
    url(/homework_3/font2/Gilroy-Semibold.woff2) format("woff2");
}

.center{
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

.navigation {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    align-self: center;
}

.navbar-link {
    margin: 7px;
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    line-height: 16px;

}

.home{
    color: #F25822;
}

.content{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 17px;
    width: 522px;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.text-content {
    font-family: 'Gilroy-Medium';
    width: 466px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.button{
    display: flex;
    gap: 72px
}

.button-start{
    margin-top: 37px;
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.button-watch-video{
    align-self: center;
    margin-top: 52px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.logo {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}
